@import "tailwindcss";

@source '../node_modules/@nitro-bio/sequence-viewers/dist/nitro-ui.umd.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-brand-50: #ecfdf5;
	--color-brand-100: #d1fae5;
	--color-brand-200: #a7f3d0;
	--color-brand-300: #6ee7b7;
	--color-brand-400: #34d399;
	--color-brand-500: #10b981;
	--color-brand-600: #059669;
	--color-brand-700: #047857;
	--color-brand-800: #065f46;
	--color-brand-900: #064e3b;
	--color-brand-950: #022c22;

	--color-noir-50: #fafafa;
	--color-noir-100: #f4f4f5;
	--color-noir-200: #e4e4e7;
	--color-noir-300: #d4d4d8;
	--color-noir-400: #a1a1aa;
	--color-noir-500: #71717a;
	--color-noir-600: #52525b;
	--color-noir-700: #3f3f46;
	--color-noir-800: #27272a;
	--color-noir-900: #18181b;
	--color-noir-950: #09090b;
}
@theme {
	--color-brand-50: var(--color-emerald-50);
	--color-brand-100: var(--color-emerald-100);
	--color-brand-200: var(--color-emerald-200);
	--color-brand-300: var(--color-emerald-300);
	--color-brand-400: var(--color-emerald-400);
	--color-brand-500: var(--color-emerald-500);
	--color-brand-600: var(--color-emerald-600);
	--color-brand-700: var(--color-emerald-700);
	--color-brand-800: var(--color-emerald-800);
	--color-brand-900: var(--color-emerald-900);
	--color-brand-950: var(--color-emerald-950);
}
